<header class="main-header" [class.is-visible]="isVisible()">
  <div class="header-container">
    
    <!-- Logo Estático -->
    <a class="header-logo">
      <div class="header-logo-icon">
        <span></span><span></span><span></span><span></span>
      </div>
      <span class="header-logo-text">OPI<span class="header-logo-dot">.</span></span>
    </a>

    <!-- Nav Links -->
    <nav class="header-nav">
      <a>Soluciones</a>
      <a>Casos de Éxito</a>
      <a>Métricas</a>
      <a>Contacto</a>
    </nav>

    <!-- Call to Acton -->
    <div class="header-actions">
      <opi-button label="Agendar Reunión" variant="primary"></opi-button>
    </div>

  </div>
</header>
